html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  min-width: 360px;
  min-height: 400px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.header {
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  font-size: 22px;
  font-weight: 600;
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  flex-grow: 1;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}

.content .container {
  display: flex;
  justify-content: space-between;
}

.entry {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  transform: translateX(-150%);
  animation: ani 0.5s forwards;
}

.btn {
  position: relative;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

.checkbox {
  cursor: pointer;
  margin: 0;
  width: 15px;
}

.footer {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}

a {
  color: #0a0079;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
