html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  width: 360px;
  min-height: 400px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 15px;
}

.header {
  padding: 10px;
  background-color: #ffffff;
  flex-grow: 0;
  flex-shrink: 0;
}

.username {
  font-weight: 500;
}

.role {
  border-radius: 7px;
  color: #fff;
  padding: 5px;
  margin: 5px;
  margin-left: 0;
  display: inline-block;
  font-weight: 500;
}

.role-container {
  white-space: nowrap;
}

.content {
  position: relative;
  margin: 0;
  padding: 5px;
  flex-grow: 1;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}

.container {
  display: flex;
  justify-content: space-between;
}

.scrollable-container .container {
  padding: 15px;
  font-size: 16px;
}

.scrollable-container .role {
  font-weight: 400;
  margin: 0;
  font-size: 13px;
}

.scrollable-container .container:hover {
  background-color: #f3f3f3;
}

.entry {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  transform: translateX(-150%);
  animation: ani 0.5s forwards;
}

.btn {
  position: relative;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

.checkbox {
  cursor: pointer;
  margin: 0;
  width: 15px;
}

.footer {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}

a {
  color: #0a0079;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.err {
  text-align: center;
  color: #ce1313;
}

.suc {
  text-align: center;
  color: #16c44a;
}

.submit-button {
  cursor: pointer;
}

.loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  height: 30px;
}

.admin-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background-color: #fff;
  box-shadow: 0 0 30px 5px gray;
  border-radius: 15px;
  padding: 10px;
  z-index: 100;
}

.confirmation-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: #ff0000;
  font-weight: 500;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  z-index: 200;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 101;
  cursor: pointer;
}

.scrollable-container {
  margin-top: 10px;
  height: 170px; 
  overflow-y: auto; 
}

.wide-button {
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  height: 30px;
}

.set-name {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-and-change-buttons-container {
  white-space: nowrap;
  font-size: 14px;
}

.remove-and-change-buttons {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.fake-button {
  padding-top: 10px;
  cursor: pointer;
}

.fake-button:hover {
  text-decoration: underline;
}